*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links ul li a{
    padding: 25px 40px;
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
}

.links ul li a:hover  {
    text-decoration: overline;
    position: relative;
    color: rgb(56, 88, 4);
}

li{
    list-style: none;
}

.section{
    background: #eff2eb;
    height: 100vh;
}

.header{
    position: relative;
    top: 15px;
}

.header, ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    margin-left: 0;
    width: 10vw;
}

.burger{
    cursor: pointer;
}

.main__section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__section div {
    width: 600px;
    height: 300px;
    top: 190px;
    left: 122px;
}

h1  {
    position: sticky; 
    font-size: 50px;
    color: rgba(38, 49, 59, 1);

}

p{
    position: relative;
    width: 450px;
    height: 170px;
    top: 5px;
    bottom: 50px;
    font-size: 24px;
}

button{
    position: relative;
    top: 30px;
    padding: 8px 55px;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    text-align: left;
    background-color: rgb(56, 88, 4);
    color: #fff;
    cursor: pointer;
}

.main__section img{
    position: relative;
    width: 380px;
    height: 550px;
    top: 100px;
    border: solid #a71c1c ;
    border-radius: 15px;
}

/*Products section */

.products{
    height: 1000px;
}

.main_product, ul{
    display: flex;  
    justify-content: center;
}