@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply mx-auto max-w-[1288px] px-5;
  }
}

@layer base {
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/poppins-v22-latin-regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/poppins-v22-latin-600.woff2) format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/poppins-v22-latin-700.woff2) format("woff2");
  }
  .heading2 {
    @apply text-[#42446E] text-5xl font-bold;
  }
  .projects-card-heading {
    @apply text-[26px] font-medium leading-6 mb-4 text-black;
  }
  .projects-card {
    @apply h-[567px] shadow-lg rounded-3xl text-left;
  }
  .projects-card-describtion {
    @apply text-[#666] text-lg leading-6  w-[314px];
  }
  .projects-card-name {
    @apply text-[#666] text-[14px] leading-6  w-[314px] mt-[12px] mb-[21px];
  }
}
